body{
    background-color: hsl(334, 71%, 86%);
}
.box-login{
    margin-top: 20vh;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}

.btn-jannnn{
    background-color: rgb(255, 230, 0);
    border: none;
    color: black;
    width: 100%;
}

.btn-jannnn:hover{
    background-color: rgb(255, 230, 0);
    color: black;
}

.btn-jannnn:focus{
    background-color: rgb(255, 230, 0);
    color: black;
}